var utils = require('p_./static/vantUi/wxs/utils.wxs');var style = require('p_./static/vantUi/wxs/style.wxs');function isSelected(tab,textKey,option){return(tab.selected && tab.selected[((nt_0=(textKey),null==nt_0?undefined:'number'=== typeof nt_0?nt_0:""+nt_0))] === option[((nt_1=(textKey),null==nt_1?undefined:'number'=== typeof nt_1?nt_1:""+nt_1))])};function optionClass(tab,textKey,option){return(utils.bem('cascader__option',({selected:isSelected({tab , textKey , option}),disabled:option.disabled,})))};function optionStyle(data){var color = data.option.color || (isSelected(data.tab,data.textKey,data.option) ? data.activeColor:undefined);return(style({color}))};module.exports = ({isSelected:isSelected,optionClass:optionClass,optionStyle:optionStyle,});